
@font-face
{
    font-family: "raleway";
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

#bloc_page
{
    margin: auto;
}

h3
{
    font-size: 1em;
    
}

/* Header et navigation */

.logo
{
    float: unset;
    width: 125px; 
}

header
{
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
    margin: unset;
    width: 100%;
}

.headermobile
{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
}

.headermobile a
{
    padding: unset;
    border: none;
    font-weight: 900;
    font-size: 1.2rem;
    color: #0065fc;
    text-decoration: none;
}

.li_inscrire
{
    display: none;
}

#inscriremobile
{
    display: initial;
    border: none;
}

#inscriremobile:hover
{
    text-shadow: navy 0.02em 0.02em 0.02em;
}

.headernav
{
    width: 100%;
    align-items: center;
}

.headernav ul
{
    margin: unset;
    padding: unset;
    margin-top: 10px;
    width: 100%;
}

.headernav li
{
    border-bottom: 4px solid lightgrey;
    text-align: center;
    margin: unset;
    width: 100%;
    padding: 10px;
    border-top: none;
    padding-bottom: 10px;
    border-collapse: collapse;
}

.headernav li:hover
{
    border-top: none;
    border-bottom: 4px solid #0065fc;
    cursor: pointer;
}

.headernav li:hover a
{
    color: #0065fc;
}

.headernav a:hover
{
    border-top: none;
    color: #0065fc;
}

/* Titres et barre de recherche */

#recherche
{
    display: flex; 
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}     

#titre
{
    font-size: 1.8em;
}

#sous_titre
{
    font-size: 1em;
    margin-bottom: 40px;
}

#search
{
    width: 100%;
    justify-content: space-between;
}

.boutonrecherche
{
    width: 30px;
    border-radius: 15px 15px 15px 15px;
}

.boutonrecherche i
{
    display: unset;
}

#submitrecherche
{
    display: none;
}

#textederecherche
{
    width: 80%;
    margin-right: -40px;
}


/* Filtres */

#conteneurfiltre
{
    margin-top: 40px;
    margin-right: 20px;
}

#titrefiltre
{
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
}

.retour_mobile
{
    display: unset;
}

.filtreeco
{
    margin-top: 20px;   
}

.filtre
{
    margin-top: 10px;
}

#info
{
    margin-left: 20px;
    margin-right: 20px;
}

/* Les plus populaires */

#hebergementvilleetpopulaire
{
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    
}

#conthebergpop
{
    width: 100%;
    border-radius: unset;
    margin: unset;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-left: 12px;
    padding-right: 12px;
    
}

.hebergementspop
{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    
    
    

}

.lienhebergpop
{
    width: 90%;
    
    
}

#hebergpop
{
    padding-left: 22px;
    padding-right: 5px;
    margin-top: 40px;
    margin-left: unset;
    display: flex;
    justify-content: space-between;
  
   
}

.figcaptionhebergementpop
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
    width: auto;
 
}

.popfig
{
    margin-top: 20px;
    margin-left: unset;
    margin-right: unset;
    width: 100%;
    
}


.popfig i
{
    margin-top: unset;
    
}


/* Hébergements */

#conthebergville
{
    background-color: unset;
    width: 100%;
    border-radius: unset;
    margin: unset;
    align-items: center;
    padding-right: unset;
    margin-right: 5px;
}

#hebergville
{
    width: 100%;
    margin-left: unset;
    padding-left: 10px;
    padding-right: 5px;
}

#hebergements
{
    width: 100%;
}

.lienheberg
{
    width: 100%;
}

.hebergfig
{
    width: 100%;
}

.lienheberg img
{
    width: 100%;
}

.hebergafficherplus
{
    font-size: 1.2em;
}

.figcaptionhebergement
{
    width: 100%;
}

/* Activités */

#titreactivités
{
    margin-left: 10px;
}

#contactivités
{
    width: 100%;
    margin: auto;
}

.contimgact
{
    margin-left: unset;
    margin-right: unset;
    width: 100%;
}

.activitésfig1, .activitésfig2_3, .activitésfig1_2
{
    width: 100%;
}

.lienactivités
{
    width: 96%;
}

.figactivités2_3 img, .figactivités1_2 img, .figactivités img, .figactivités1_3 img
{
    width: unset;
    height: unset;
}

.figmobile img
{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Footer */

footer
{
    margin-left: -12px;
    margin-right: -12px;

    
}

#apropos, #noshebergements, #assistance
{
    width: 100%;

}