html
{
    font-family: Raleway, Arial, Verdana, sans-serif;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    color: #0065FC;

}









footer
{
    list-style-type: none;
    display: flex;
}