body, html
{
    height: 1884px;
    width: 1440px;
    font-family: 'Raleway', sans-serif;

}
#Nav, ul
{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
li
{
    margin-right: 60px;
    text-decoration: none;
    margin: 0;
    display: flex;
    align-items: center;
}
#logo
{
    height: 2px;
    padding-top: 15px;
    margin-left: 20px;
}
#Localisation
{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid;
    border-radius:22px;
    width: 20%;
}
#Filtres
{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    align-items: center;
}

#filtre1
{
    border: 0.1px solid;
    border-radius:22px;
}
#filtre2
{
    border: 0.1px solid;
    border-radius:22px;
}
#filtre3
{
    border: 0.1px solid;
    border-radius:22px;
}
#filtre4
{
    border: 0.1px solid;
    border-radius:22px;
}

#Infos
{
    margin: 0;
    display: flex;
    align-items: center;
    
}

#conteneur1
{
    width: 70%;
    border: 2px solid green;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#conteneur2
{
    width: 30%;
    border: 2px solid green;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    
}
#conteneur3
{
    width: 100%;
    border: 2px solid green;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article
{
    width: 30%;
    border: 1px solid red;
    border-radius: 20px;
}


footer
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
}